%h1 All  libraries
#libraries
  - if @libraries.blank?
    %p
      Why has nobody created a single library?
  - else
    -@libraries.each_slice(3) do |row|
      .row-fluid
      -row.each do |library|
        %div{:class => "span#{@libraries.size < 3 ? 12/row.size : 4}"}
          %h2.library_name=library.name
          %p.library_description
            %b Description:
            = library.description
          %p.library_location
            %b Location:
            = library.location
          %p
            =link_to raw("View Details &raquo;"), library, :class => 'btn'
.actions
  = link_to 'New Library', new_library_path, :class => 'btn'
